# build output
dist/
.vercel/
.astro/

# dependencies
node_modules/
backoffice/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example
!**/.env.example

# explicitly ignore backoffice secrets
backoffice/.env
backoffice/.env.*
production*

# macOS
.DS_Store

# editor junk
.idea/
.vscode/
*.swp
*~

# optional (if generated locally)
coverage/
